In [1]:
import pandas as pd
import numpy as np

All state details

In [2]:
df_ap=pd.read_csv('all_details_ap.csv')
df_k=pd.read_csv('all_details_k.csv')
df_t=pd.read_csv('all_details_t.csv')
df_kad=pd.read_csv('all_details_kad.csv')
df_r=pd.read_csv('all_details_r.csv')
df_sb=pd.read_csv('all_details_sb.csv')
df_hp=pd.read_csv('all_details_hp.csv')
df_a=pd.read_csv('all_details_a.csv')
df_up=pd.read_csv('all_details_up.csv')
df_b=pd.read_csv('all_details_b.csv')

In [3]:
redbus_df=pd.concat([df_ap,df_k,df_t,df_kad,df_r,df_sb,df_hp,df_a,df_up,df_b],ignore_index=True)
redbus_df

,Route_name,Route_link,Bus_name,Bus_type,Departing_time,Duration,Reaching_time,Star_rating,Price,Seat_availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),22:55,06h 15m,05:10,4.6,649.0,25 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),23:50,05h 45m,05:35,4.4,549.0,31 Seats available
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,Scania AC Multi Axle Sleeper (2+1),23:59,06h 31m,06:30,4.5,1089.0,15 Seats available
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,AdSai RK Travels,Non A/C Seater / Sleeper (2+1),21:50,06h 40m,04:30,3.9,560.0,14 Seats available
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),13:35,05h 50m,19:25,4.5,499.0,26 Seats available
...,...,...,...,...,...,...,...,...,...,...
7805,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Panwar tour and Travels,A/C Seater / Sleeper (2+1),15:40,10h 20m,02:00,1.6,950.0,26 Seats available
7806,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Panwar tour and Travels,A/C Seater / Sleeper (2+1),15:40,10h 20m,02:00,1.6,1550.0,57 Seats available
7807,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Baba Khatushyam Travels Pvt Ltd,A/C Seater / Sleeper (3+1),19:00,08h 00m,03:00,1.5,1050.0,38 Seats available
7808,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Travel Point World LLP,A/C Seater / Sleeper (2+2),20:20,07h 00m,03:20,1.6,1898.0,0
7809,Muzaffarpur (Bihar) to Bihar Sharif,https://www.redbus.in/bus-tickets/muzaffarpur-...,Bihar state road transport corporation (BSRTC)...,AC Seater (2+2),18:00,05h 30m,23:30,3.8,275.0,0

In [4]:
redbus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7810 entries, 0 to 7809
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_name         7810 non-null   object
 1   Route_link         7810 non-null   object
 2   Bus_name           7810 non-null   object
 3   Bus_type           7810 non-null   object
 4   Departing_time     7810 non-null   object
 5   Duration           7810 non-null   object
 6   Reaching_time      7810 non-null   object
 7   Star_rating        7810 non-null   float64
 8   Price              7810 non-null   float64
 9   Seat_availability  7810 non-null   object
dtypes: float64(2), object(8)
memory usage: 610.3+ KB

In [6]:
redbus_df["Price"]=redbus_df["Price"].astype(float)
redbus_df["Price"].fillna(0)

0        649.0
1        549.0
2       1089.0
3        560.0
4        499.0
         ...
7805     950.0
7806    1550.0
7807    1050.0
7808    1898.0
7809     275.0
Name: Price, Length: 7810, dtype: float64

In [7]:
redbus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7810 entries, 0 to 7809
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_name         7810 non-null   object
 1   Route_link         7810 non-null   object
 2   Bus_name           7810 non-null   object
 3   Bus_type           7810 non-null   object
 4   Departing_time     7810 non-null   object
 5   Duration           7810 non-null   object
 6   Reaching_time      7810 non-null   object
 7   Star_rating        7810 non-null   float64
 8   Price              7810 non-null   float64
 9   Seat_availability  7810 non-null   object
dtypes: float64(2), object(8)
memory usage: 610.3+ KB

In [8]:
redbus_df=redbus_df.replace({np.nan:None})

In [10]:
redbus_df.to_csv('redbus_df.csv',index=False)

Create Table by MySQL

In [1]:
import mysql.connector
import pandas as pd
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="181506"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE pro1")

In [10]:
import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  port="3306",
  database="pro1",
  password="181506"
)

mycursor = mydb.cursor()

In [12]:
query='''CREATE TABLE IF NOT EXISTS busdetails (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Route_name VARCHAR(255),
    Route_link VARCHAR(255),
    Bus_name VARCHAR(255),
    Bus_type VARCHAR(255),
    Starting_time TIME,
    Duration VARCHAR(255),
    Reaching_time TIME,
    Star_rating FLOAT(2,1),
    Price INT,
    Seats_available VARCHAR(80)
);'''

mycursor.execute(query)

print("Table created successfully")

Table created successfully